input:focus {
  outline: 0;
  color: white;
}

input {
  border: 0;
  background: none;
  border-bottom: 2px solid white;
  font-size: 25px;
}
input::placeholder {
  color: white;
}

.todo-did {
  font-weight: bold;
  font-size: 25px;
}

.todo-did form {
  display: flex;
  justify-content: center;
}

.todo-did__list {
  overflow: auto;
  height: 495px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.todo-did__list__vertical {
  height: 210px;
  width: 1000px;
}

.todo-did button {
  margin-right: 0px;
  background: none;
  font-size: 30px;
  border: 0;
  cursor: pointer;
}

.todo-did button:active {
  outline: 0;
}
