header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-button {
  position: absolute;
  bottom: 20px;
  right: 150px;
}
.header-button button {
  margin: 0 5px;
}

header .change-name {
  cursor: pointer;
}

header .change-direction {
  cursor: pointer;
}

.js-clock {
  font-size: 30px;
}

h1 {
  margin: 10px 0;
  -webkit-text-stroke: 2px #000;
}
h3 {
  margin: 0 0 20px 0;
}

.js-greeting {
  font-size: 40px;
  -webkit-text-stroke: 2px #000;
}
