@import "dodid.css";
@import "main.css";
@import "header.css";

/* 리스트 앞에 기호 없애기 */
ol,
ul {
  list-style: none;
  padding-left: 5px;
}

.showing {
  display: block;
}

.hiding {
  display: none;
}

body {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
